<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Blogs 
    <a href="/editblogs">Back to editblogs</a>
    
    <%= blogs.title %><br>
    <%= blogs.author_id %><br>
    <%= blogs.category_id %><br>
    <%= blogs.body %>
    <%= blogs.release %>

</body>
</html>